@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Dating App</h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQV5dSnHxe-MUpwgdSV-WEn2YWAALg3HrK_kGcGknDSyt5k5GRhug&s" alt="Smiley face" height="400" width="628">
</div>


