@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="alert alert-danger" role="alert">
  her er der noget uoverenstemmelser

</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered table-striped table-hover">
      <thead>
            <tr>
                <th>Developer</th>
                <th>Telefon Nr.</th>
                <th>Email Adresse</th>
            </tr>
      </thead>
      <tbody>
            <tr>
                <td class="danger">Gustav</td>
                <td class="text-danger"> 22232425</td>
                <td>Gustav@Work.dk</td>
            </tr>
            <tr>
                <td>Anders</td>
                <td> 22232426</td>
                <td>Anders@Work.dk</td>
            </tr>
            <tr class="succes">
                <td>Niklas</td>
                <td> 22232427</td>
                <td>Niklas@Work.dk</td>
            </tr>
            <tr>
                <td>Hasan</td>
                <td> 22232428</td>
                <td class="text-primary">Hasan@Work.dk</td>
            </tr>
      </tbody>
    </table>
    <br/>
    <button class="btn btn-danger btn-lg">Call isn't working </button>
    <button class="btn btn-danger btn-sm">Call isn't working </button>
  </div>
</div>
